<div class="container">
  <div class="side-bar-panel">
    <div class="hidden" id="myfriends">
      <app-myfriends></app-myfriends>
    </div>
    <div class="hidden" id="requests">
      <app-requests></app-requests>
    </div>
    <div class="hidden" id="classmates">
      <div class="contain">

        <div class="components">
          <app-classmates class=""></app-classmates>
        </div>
      </div>
    </div>
    <div class="hidden" id="profile">
      <app-profile></app-profile>
    </div>

    </div>
  </div>
