.layout {
  display: grid;
  grid-template-columns: 75px 300px auto;
  height: 100vh;
}

.left-side-bar {
  position: relative;
  width: 75px;
  height: 100vh;
}

.side-bar-panel {
  position: relative;
  width: 300px;
  height: 100vh;
}

.chat-feed {
  position: relative;
  width: auto;
  height: 100vh;
  background-color: #222222;
}
