<div class="contain">
  <div>
    <form class="input-width">
      <input class="search" type="text" placeholder="Search for classmates" (keyup)="instantSearch($event)" />
    </form>
    <mat-list>
      <mat-list-item class="list-item" *ngFor="let user of users; let i = index">
        <img matListAvatar src="{{user.photoURL}}">
        <h3 matLine class="username">{{user.displayName}}</h3>
        <button (click)="addClassmate(user)" *ngIf="canShow(i)">
          <fa-icon class="icons" [icon]="faPlus"></fa-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </div>
</div>
