.presence {
  border-radius: 50%;
  display: inline-block;
  height: 14px;
  width: 14px;
  left: 43px;
  bottom: 16px;
  border: 2px solid #323232;
  box-sizing: border-box;
  position: absolute;
}

.presense.online {
  background-color: greenyellow;
}

.presence.offline {
  background-color: red;
}

.list-item {
  cursor: pointer;
}

.username {
  color: #efefef;
  font-size: 10px;
}
