<mat-sidenav-container class="container">
  <mat-sidenav class="sidenav" #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')">
    <app-profile></app-profile>
    <div class = "contain">


      <span><button class="right" mat-button (click)="loadMyChildComponent()"><strong><img src="https://firebasestorage.googleapis.com/v0/b/fal-con.appspot.com/o/app%2Fpc.png?alt=media&token=cf135b50-2430-4362-8b63-890fffe0b48b"></strong></button></span>
    </div>
 </mat-sidenav>
  <mat-sidenav class="sidenav2"  #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')">
      <div *ngIf= 'loadComponent'>
        <app-classes></app-classes>
      </div>
  </mat-sidenav>


  </mat-sidenav-container>
