
.container {
  background-color: #3e3e3e;
  height: 100vh;
  width: 75px;
  position: relative;
  align-content: center;
  align-items: center;
}

.left-side-bar {
  background-color: #3e3e3e;
  width: 75px;
  height: calc(100vh - 50px);
  margin: 0 auto;
  display: grid;
  grid-template-rows: 75px 75px 75px auto 75px;
  
}

.contain {
  position: relative;
}

.profile {
  height: 45px;
  width: 45px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  max-width: 100%;
  max-height: 100%;
}

img {
  height: 45px;
  width: 45px;
}

.centered-and-cropped {
  height: 45px;
  width: 45px;
  border-radius: 50em;
  object-fit: cover;
}

.right {
  height: 75px;
  width: 75px;
  box-sizing: border-box !important;
  border-left-width: 5px;
 }

.icons {
  font-size: 18px;
  color: #EFEFEF;
}

.label {
  color: #EFEFEF;
  font-size: 10px;
}

.settings {
  position: relative;
  height: 75px;
  width: 75px;
}

.settings-btn {
  font-size: 18px;
  color: #EFEFEF;
  height: 18px;
  width: 18px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
}

br {
  display: block;
  margin: -15px;
  line-height: -5px;
  content: '';
}

 ::ng-deep .mat-button {
    min-width: 75px !important;
    height: 75px;
    width: 75px;
    padding: 0;
    margin: 0 auto;
    position: relative;
    align-self: left;
    border-radius: 0;
    box-sizing: border-box !important;
    border-left-width: 5px !important;
 }

 ::ng-deep .mat-button:hover {
    background-color: #666666;
 }

 ::ng-deep .mat-button:active::before {
    content: ' ';
    width: 5px;
    border-width: 5px;
    background-color: #F68F44;
    position: relative;
 }

