<div class="container">
  <div class="left-side-bar">
    <div class="contain">
      <button class="profile-btn" mat-button (click)="toggle('profile')"><img src="{{user.photoURL}}"></button>
    </div>
    <div class="contain">
      <span><button class="right" mat-button (click)="toggle('classes')"><strong><img src="https://firebasestorage.googleapis.com/v0/b/fal-con.appspot.com/o/app%2Fpc.png?alt=media&token=cf135b50-2430-4362-8b63-890fffe0b48b"></strong></button></span>
    </div>
  </div>
</div>
