<div fxLayout="row" fxLayoutAlign="center">
<div  fxLayout="column">

  <h3>Nickname: {{user.displayName}}</h3>
  <div>
  
</div>
<!--<div fxLayout="row" fxLayoutAlign="center">
  <span matToolTip="Change your nickname"><button mat-mini-fab color="primary" (click)="true"></button></span>
  <span matToolTip="Change your profile picture"><button mat-mini-fab color="primary" (click)="true"></button></span>
  <input #fileInput type="file" (change)="chooseImage($event)" style="display:none;"> </input>

</div>
-->
</div>
</div>